*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --dark: #000;
    --dark-blue: #1D2540;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header .logo img {
    height: 50px;
    width: 50px;
}

header .navegacao {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

header .navegacao ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header .navegacao button {
    background: none;
    border: none;
}

header .navegacao button img {
    height: 30px;
    width: 30px;
}

.boasvindas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boasvindas h1{
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 66px;
    line-height: 75px;
    margin-bottom: 20px;
}

.boasvindas .textos p {
    font-family: "Inter", sans-serif;
    width: 450px;
    font-size: 20px;
    margin-bottom: 20px;
}

.boasvindas .textos button {
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    background: var(--dark-blue);
    padding: 13px;
    width: 30%;
}

.boasvindas .imagem img {
    width: 380px;
    border-radius: 30px;
    margin-left: 60px;
}