* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --dark-blue: #1D2540;
    --aqua-green: #62C0BD;
    --gray: #626C7F;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
}

header .logo img {
    width: 50px;
    height: 50px;
}

header .container {
    display: flex;
    align-items: center;
    gap: 40px;
}

header .nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;
} 

header .nav ul a{
    text-decoration: none;
    color: var(--black);
}

main {
    display: flex;
    justify-content: center;
}

.container-1, .container-2, .container-3 {
    background: var(--black);
    width: 43px;
    height: 5px;
    margin-top: 4px;
    margin-right: 12px;
}

section {
    display: flex;
    margin: auto;
}

.secao1 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    border: red 1px solid;
}

.secao1 h1{
    font-family: "Vollkorn", serif;
    font-size: 60px;
    font-weight: 200;
}

.secao1 strong {
    font-weight: 700;
}

.textosecao1 {
    margin-right: 100px;
}

.secao1 .textosecao1 p{
    width: 450px;
}

.secao1 .textosecao1 .botaosobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    background: var(--dark-blue);
    width: 220px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.textosecao1 .botaosobre a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 70px;
}

.textosecao1 .botaosobre div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    background: var(--white);
    border-radius: 100%;
    gap: 5px;

    height: 30px;
    width: 30px;
}

.secao1 img{
    height: 550px;
    border-radius: 50px;
}

.secao2 {
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao2 .titulosecao2 {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao2 .titulosecao2 h2 {
    font-size: 64px;
    font-family: "Vollkorn", serif;
}

.secao2 .titulosecao2 p {
    font-size: 18px;
    font-family: "Vollkorn", serif;
    margin-top: -15px;
}

.bluebar {
    background: var(--aqua-green);
    width: 400px;
    height: 30px;
    border-radius: 30px 30px 0 0;
}

.definicao {
    background: var(--white);
    border-radius: 30px 30px 0 0;
    width: 400px;
    text-align: center;
    color: var(--gray);
}