*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --white: #fff;
    --black: #000;
    --dark-blue: #1D2540;
    --light-dark-blue: #3C506A;
    --light-green: #62C0BD;
    --light-green-hover: #4b9693;
    --gray: #626C7F;
}

body.escurecer::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 26, 0.5);
    top: 0;
    left: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header .logo img {
    height: 50px;
    width: 50px;
}

header .navegacao {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

header .navegacao ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header .navegacao a {
    color: black;
    text-decoration: none;
}

header .navegacao button {
    background: none;
    border: none;
    cursor: pointer;
}

header .navegacao button img {
    height: 30px;
    width: 30px;
}

header nav.menus{
    position: fixed;
    background-color: var(--white);
    top: 0;
    right: -300px;

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    transition: 0.5s;
}

header nav.menus.abrir{
    right: 0;
    transition: 0.5s;
}

header nav.menus div{
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 0 0;
}

header nav.menus button img {
    width: 35px;
    height: 35px;
}

header nav.menus ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

header nav.menus ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-green);
    width: 250px;
    height: 42px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ladod {
    margin-left: 50px;
}

.ranking {
    display: flex;
}

.clas {
    display: flex;
    margin-bottom: 20px;
}

.pos {
    width: 80px;
    height: 80px;
    background: var(--light-green);

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);

    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;

    border-radius: 50%;

    margin-right: -35px;
    z-index: 999;

}

.name {
    width: 400px;
    height: 80px;
    background: var(--dark-blue);
    color: var(--white);
    display: flex;
    align-items: center;

    font-size: 20px;
}

.name p {
    margin-left: 50px;
}

.pontuacao {
    background: var(--light-green);
    color: var(--white);
    width: 100px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;    

    font-size: 20px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}